body{

margin:0;
font-family:Arial;
background:linear-gradient(120deg,#4facfe,#00f2fe,#43e97b);

}

h1{

text-align:center;
color:white;
padding:15px;

}

.container{

display:flex;
height:90vh;

}

.panel{

width:320px;
padding:20px;
background:white;
border-radius:15px;
margin:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);

}

.mapSection{

flex:1;
display:flex;
flex-direction:column;

}

#map{

height:70%;
margin:20px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);

}

.summaryBox{

margin:0 20px 20px 20px;
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 8px 20px rgba(0,0,0,0.2);

}

.summaryBox p{

margin:6px 0;

}

input{

width:90%;
padding:12px;
margin-top:10px;
border-radius:8px;
border:1px solid #ccc;

}

button{

margin-top:10px;
padding:10px 18px;
border:none;
border-radius:8px;
background:linear-gradient(45deg,#ff7e5f,#feb47b);
color:white;
font-weight:bold;
cursor:pointer;

}

button:hover{

transform:scale(1.05);

}

.routeBtn{

background:linear-gradient(45deg,#43e97b,#38f9d7);

}

.resetBtn{

background:linear-gradient(45deg,#ff512f,#dd2476);

}

ul{

list-style:none;
padding:0;

}

li{

background:#f2f7ff;
margin:6px 0;
padding:10px;
border-radius:8px;
border-left:5px solid #4facfe;
display:flex;
justify-content:space-between;

}

.removeBtn{

background:red;
border:none;
color:white;
padding:4px 8px;
border-radius:6px;
cursor:pointer;

}


